.seccion {
    margin-top: calc($separacion * 1.7);
    margin-bottom: calc($separacion / 2);
}
.contenido-centrado {
    max-width: 80rem;
}

.alinear-derecha {
    display: flex;
    justify-content: flex-end;
}

img {
    border-radius: 1.2rem;
}

.W-100 {
    width: 80%;
}