.alerta {
    padding: .5rem;
    text-align: center;
    color: $blanco;
    font-weight: bold;
    text-transform: uppercase;
    margin: 1rem 0;
    border-radius: 1rem;


    &.error {
        background-color: $rojo;
    }

    &.exito {
        background-color: $verde;
    }
}

table.propiedades {
    margin-top: 4rem;
    width: 100%;
    border-spacing: 0;

    thead {
        background-color: $verde;
        border-radius: 4rem;

        th {
            color: $blanco;
            padding: 1.5rem;
        } // Cierra th
    } // Cierra thead
} // Cierra table.propiedades

.imagen-tabla {
    width: 10rem;
}
